div.copyright{
	text-align:center;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
color: #555;
cursor: default;
background-color: rgba(255, 255, 255, 0.4);
border: 0px solid #ddd;
border-bottom-color: transparent;
}
/*导航条*/
.nav-tabs>li>a {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 19px;
margin-bottom: -10px;
line-height: 20px;
border: 1px solid transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.nav-tabs {
border: 0px solid #ddd;
}
/*面包屑*/
.breadcrumb {
margin-top: -11px;
margin-bottom: 0px;
list-style: none;
background-color: rgba(255, 255, 255, 0.4);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 0px;
}


/*导航条本页区域
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
color: #555;
cursor: default;
background-color: rgba(255, 255, 255, 0.3);
border: 2px solid rgba(110, 55, 15, 0.75);
border-top-color: rgba(110, 55, 15, 0.74902);
border-top-style: solid;
border-top-width: 2px;
border-right-color: rgba(110, 55, 15, 0.74902);
border-right-style: solid;
border-right-width: 2px;
border-bottom-color: transparent;
border-bottom-style: solid;
border-bottom-width: 2px;
border-left-color: rgba(110, 56, 15, 0.74902);
border-left-style: solid;
border-left-width: 2px;
border-bottom-color: transparent;
}
*/